@using System.Web.Optimization
@model MovieTickets.ViewModels.HallViewModel

@{
    ViewBag.Title = "Hall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/custom-place-organization")

<div class="container">
    <div class="hall">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        setPlaces(@Html.Raw(Json.Encode(Model.PlacesId)));
    });

    function getData() {
        $.ajax({
            url: '@Url.Action("Hall", "Ticket")',
            type: "POST",
            data: { data: getParseData(setSelectedPlaceId()) },
            traditional: true,
        });
    }
</script>
@Model.SeanceId;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SeanceId, new {@value = Model.SeanceId})
    @Html.HiddenFor(model => model.PlacesId, new {@id = "places"})
    <input type="submit" onclick=" getData() " value="Добавить в корзину"/>
}