@using MovieTickets.ViewModels
@model IEnumerable<MovieTickets.ViewModels.TicketViewModels>

@{
    ViewBag.Title = "Backet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Film)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Row)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (TicketViewModels item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Film)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Row)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
           
                <td>
                    <a href=@Url.Action("Delete", "Ticket", new {id = item.Id})>Удалить</a>

               
                </td>
            </tr>
        }
    }
    else
    {
        <h2>Ваша корзина пуста.</h2>
    }


</table>

<a href=@Url.Action("BuyResult", "Home")>Оплатить</a>